 body {
     margin: 0 auto;
 }

 .retContainer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;


 }

 .ret img {
     cursor: pointer;
 }



 @media only screen and (max-width: 1229px) {
     .retContainer {
         grid-template-columns: 1fr 1fr;
     }
 }

 @media only screen and (max-width: 830px) {
     .ret img {
         width: 100%
     }
     .retContainer {
         grid-template-columns: 1fr;
     }
 }

 @media only screen and (max-width: 425px) {
     .ret img {
         width: 100%
     }
     .retContainer {
         grid-template-columns: 1fr;
     }

     .logo {
         width: 100%;

     }
 }

 /*Her kan man se mit modal vindue inde man klikker på det */

 #modal {
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: rgba(0, 0, 0, .7);
     text-align: center;
     /*display: none;*/
     transition: all 1s;
     opacity: 0;
     pointer-events: none;
     font-family: 'Montserrat', sans-serif;
     overflow: scroll;
 }

 /*Her kan man se mit modal vindue når man er inde på det og her jeg fx gjort at at baggrunden på modal vinduet er transparent så man stadig kan se den "normale" side i baggrunden  */

 #modal-content {
     width: 60vw;
     height: 70vh;
     padding: 10px;
     background-color: transparent;
     margin: auto;
     color: white;

 }

 #modal.vis {
     /* display: block;*/
     opacity: 1;
     pointer-events: all;
 }

 header img {
     width: 100vw;
     height 50vw;
     margin: 0 auto;
 }

 header {
     text-transform: capitalize;
     background: #DB7703;
 }

 .nav {
     width: 100%;
     text-align: center;
     padding-bottom: 20px;



 }

 .menu-item {
     margin: 30px;
     display: inline-block;
     padding: 10px 20px;
     font-size: 15px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #464857;
     border: none;
     border-radius: 10px;
     box-shadow: 0 5px #595A6C;
     font-family: 'Montserrat', sans-serif;


 }

 .menu-item:hover {
     background-color: #3e8e41
 }

 .menu-item:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
 }

 h1 {
     text-align: center;
     font-family: 'Arek Latin', bold;
     color: #464857;
 }

 .ret {
     text-align: center;
     font-family: 'Arek Latin', bold;
     color: white;
 }

 .logo {

     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 10vw;

 }

 .background {
     background-color: #464857;
 }

 .footer_grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 200vh;
     width: 200vw;

 }

 .beskrivelse {
     font-family: 'Montserrat', sans-serif;
 }

 p {
     font-family: 'Montserrat', sans-serif;
 }

 .footer {
     display: grid;
 }
