 body {
     margin: 0 auto;
 }

 .retContainer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;

 }

 @media only screen and (max-width: 1229px) {
     .retContainer {
         grid-template-columns: 1fr 1fr;
     }
 }

 @media only screen and (max-width: 830px) {
     .ret img {
         width: 100%
     }
     .retContainer {
         grid-template-columns: 1fr;
     }
 }

 @media only screen and (max-width: 425px) {
     .ret img {
         width: 100%
     }
     .retContainer {
         grid-template-columns: 1fr;
     }
 }

 #modal {
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: rgba(0, 0, 0, .7);
     text-align: center;
     /*display: none;*/
     transition: all 1s;
     opacity: 0;
     pointer-events: none;
     font-family: 'Montserrat', sans-serif;
     overflow: scroll;
 }

 #modal-content {
     width: 90vw;
     height: 100vh;
     padding: 10px;
     background-color: rgba(250, 250, 250, 1);
     margin: auto;
 }

 #modal.vis {
     /* display: block;*/
     opacity: 1;
     pointer-events: all;
 }

 header img {
     width: 100vw;
     height 50vw;
     margin: 0 auto;
 }

 header {
     text-transform: capitalize;
     background: #DB7703;
 }

 nav {
     text-align: center;
     padding-bottom: 20px;



 }

 .menu-item {
     font-size: 15px;
     margin: 5px 10px 5px 10px;
     color: white;
     border: none;
     border-radius: 15px;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;

 }

 .menu-item:hover {
     background-color: transparent;
 }

 .menu-item:active {
     background-color: transparent;
     transform: translateY(4px);
 }

 h1 {
     text-align: center;
     font-family: 'Arek Latin', bold;
     color: white;
 }

 .ret {
     text-align: center;
     font-family: 'Arek Latin', bold;
     color: white;
 }

 .logo {

     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 10%;

 }

 .background {
     background-color: #464857;
 }

 .footer_grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }



 .footer_1 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 200px;
     background: #f43002;
 }

 .footer_2 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 200px;
     background: #000000;
 }

 .footer_3 {
     display: grid;
     grid-column-start: span 2;
     height: 200px;
     background: pink;

 }

 .beskrivelse {
     font-family: 'Montserrat', sans-serif;
 }

 p {
     font-family: 'Montserrat', sans-serif;
 }
